<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Operation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>28971E4B1D23A3E2002D1A93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28971E641D23A3E2002D1A93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28971E6F1D23A3E3002D1A93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
